@import url('https://use.typekit.net/ghl6aal.css');

.splashPage {
    background-image: url('../resources/cover.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.splashPage .title {
    position: absolute;
    top: 45%;
    right: 7%;
    font-size: 50pt;
    letter-spacing: 10pt;
}

.splashPage .title .left-bottom {
    position: absolute;
    bottom: -100%;
    left: -1%;    
    width: 20px;
    height: 20px;
}

.splashPage .title .left-top {
    position: absolute;
    top: -100%;
    left: -1%;
    width: 20px;
    height: 20px;
}

.splashPage .description {
    font-size: 30pt;
    line-height: 38pt;
    letter-spacing: 2pt;
    position: absolute;
    top: 65%;
    left: 9%;
    white-space: pre-line;
}