@import url('https://use.typekit.net/ghl6aal.css');

.splashPageWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.splashPage {
    background-image: url('../resources/cover.png');
    width: 100%;
    height: 75vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

.customLink:hover {
    cursor: pointer;
}
.customLink {
    display: inline;
}

.splashPage .title {
    position: absolute;
    top: 35%;
    right: 9%;
}

.title h1 {
    font-size: calc(4em + .4vw);
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 4pt;
    font-weight: normal;
}


.splashPage .title h4 {
    font-size: calc(.8em + .4vw);
   text-transform: uppercase;
    text-align: right;
    letter-spacing: 4pt;
    font-weight: normal;
    margin-top: -40px;
}


.splashPage .title .left-bottom {
    position: absolute;
    bottom: -20px;
    left: -60px;    
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.splashPage .title .left-top {
    position: absolute;
    top: -20px;
    left: -50px;
    width: 30px;
    height: 30px;
}

.splashPage .description {
    font-size: 24pt;
    line-height: 25pt;
    letter-spacing: 1pt;
    position: absolute;
    top: 75%;
    left: 4%;
    white-space: pre-line;
}