.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid > div {
    flex: 40%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    margin: 10px;
    /*demo*/
  }

.grid .customLink {
  height: 45vh;
}

.grid .image {
    width: 100%;
    height: 100%;
    place-self: center;
    overflow: hidden;
    position: relative;
}

.grid .image .hover {
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .4;
    z-index:10;
    font-size: 40pt;
    letter-spacing: 2pt;
    font-family: franklin-gothic-urw,sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}

.grid .image img {
    width: 100%;
    object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
    aspect-ratio: 1/1;
}

.image .loading {
    filter: blur(10px);
}

.image .loaded {
    filter: blur(0px);
    transition: filter .5s linear;
}

.grid .image {
    place-self: center;
    overflow: hidden;
    position: relative;
}

.topPart {
    display: flex;
    align-items: stretch;
    gap: 1em;
    white-space: pre-line;
}

.topPart .detailWrapper {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height:100%;
}

.topPart .image {
    width: 50%;
}

.topPart .image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
    aspect-ratio: 1/1;
}

.topPart .image .loading {
    filter: blur(10px);
}

.topPart .image .loaded {
    filter: blur(0px);
    transition: filter .5s linear;
}

.topPart .concept {
    padding-top: 1em;
    position: relative;
    padding-left: 10%;
    padding-right: 15%;
    left: 5%;
    font-size: calc(.5em + .4vw);
    text-transform: none;
    letter-spacing: 1pt;
    padding-bottom: 1em;
}

.topPart .concept span {
    position: absolute;
    font-size: 20pt;
    margin-top: -10px;
    margin-left: -20px;
    font-weight: bold;
}

.topPart .details {
    padding-top: 1em;
    position: relative;
    margin-top: 135px;
    margin-bottom: 135px;
    min-height: 25%;
    padding-left: 15%;
    padding-right: 15%;
    left: 5%;
    font-size: calc(.5em + .5vw);
    text-transform: none;
    letter-spacing: 1pt;
    padding-bottom: 1em;
}

.topPart .detailWrapper .left-top {
    top: 0px;
    position: absolute;
    left: 10%!important;
    width: 25px;
    height: 25px;
}

.topPart .detailWrapper .left-bottom {
    left: 10%!important;
    bottom: 0px;
    position: absolute;
    margin-top: min(200px, 30%);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 25px;
    height: 25px;
}

.wrapper .topPartWrapper {
    position: relative;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 2pt;
    font-size: calc(.19em + .4vw);
}

.wrapper .topPartWrapper .viewfinder {
    position: absolute;
    min-width: 150px;
    right: 50px;
    top: -15px;
}

.wrapper .topPartWrapper .projectName {
    position: absolute;
    left: -160px;
    text-align: center;
    top: 50%;
    min-width: 300px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); 
}

.wrapper .topPartWrapper .course {
    position: absolute;
    left: 0px;
    bottom: -15px;
}
.wrapper .topPartWrapper .course span {
    margin-right: 8em;
}

.wrapper .topPartWrapper .date {
    position: absolute;
    display: block;
    right: 0px;
    min-width: 200px;
    bottom: -15px;
}

.wrapper .topPartWrapper .left-bottom {
    left: 0px;
    position: absolute;
    bottom: 0px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.wrapper .topPartWrapper .left-top {
    top: 0px;
    position: absolute;
    left: 0px;
}

.wrapper .topPartWrapper .right-bottom {
    right: 0px;
    position: absolute;
    bottom: 0px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.wrapper .topPartWrapper .right-top {
    top: 0px;
    position: absolute;
    right: 0px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.book {
    background-color: white;
    margin-top: 3em;
    padding: 2em;
}

.book .bookPage {
    margin-bottom: 2em;
    line-height: 5pt;
}

.book .bookPage .bookBorder {
    border: .25px solid black;
}

.book .bookPage span {
    color: black;
    text-transform: uppercase;
    font-size: 6pt; 
}

.book .bookPage .image {
    width: 100%;
    display: flex;
}

.book .bookPage .image img {
    width: 100%;
}

.wrapper .bookPage .left-nav {
    bottom: 0px;
    left: 2em;
    margin-bottom: 2em;
    text-align: center;
    position: absolute;
    color: black;
    text-transform: uppercase;
    font-size: 9pt;
}

.wrapper .bookPage .right-nav {
    bottom: 0px;
    position: absolute;
    right: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 9pt;
}


.wrapper .bookPage .right-nav span, .wrapper .bookPage .left-nav span {
    margin: 5px;
}

.wrapper .bookPage .left-nav .customLink:hover {
    color: grey;
}

.wrapper .bookPage .right-nav .customLink:hover {
    color: grey;
}
