body {
  font-family: franklin-gothic-urw,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #030921;
}

.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100vh;
}

.container .pageContent {
  /* Key part: Eat the remaining space! */
  flex-grow: 1;
}

.wrapper {
    width: 83%;
    padding: 1em;
    margin: auto;
    position: relative;
}

.wrapper .right-bottom {
  bottom: 0px;
  position: absolute;
  right: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.wrapper .left-bottom {
    left: 0px;
    position: absolute;
    bottom: 0px;
}

.wrapper .left-top {
    top: 0px;
    position: absolute;
    left: 0px;
}

.wrapper .right-top {
    top: 0px;
    position: absolute;
    right: 0px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.container .footer {
  flex-basis: 3em;
}